<h2 style="color: red; margin: 0 auto">Create New Product</h2>
<%= form_tag products_path  , method: :post do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :price %>
  <%= text_field_tag :price %>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <%= label_tag :weight %>
  <%= text_field_tag :weight %>
  <%= submit_tag "Save", class: "bth bth-large bth-primary" %>
<% end %>

<%= render 'shared/email' %>