<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 style="color: red">Admin panel</h2>
    <%= yield %>
  
  </body>

  <footer>
  <p>По всім питанням звертайтесь на пошту: glushchak02@gmail.com</p>
  </footer>
</html>
